# Ignore Play! working directory #
bin/
/db
.eclipse
.idea
/lib/
/logs/
/modules
/test
/node_modules
/frontend
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
